<li class="list-group-item">
  <div class="book-item">
    <div class="title">Название: {{book.title}}</div>
    <div class="author">Автор: {{book.author}}</div>
    <div class="desc">Описание: {{book.description}}</div>
    <div class="year">Год издания: {{book.printYear}}</div>
    <div class="isbn">ISBN: {{book.isbn}}</div>
    <div class="read"
         *ngIf="book.readAlready; else elseBlock">Примечания: Книга прочитана
    </div>
    <ng-template #elseBlock>Примечания: Книга не прочитана</ng-template>

    <div class="book-buttons">
      <button class="btn btn-danger" (click)="deleteBook(book.id)">Удалить</button>
      <button class="btn btn-warning " (click)="editBook(book)">Редактировать</button>
      <button class="btn btn-success" (click)="markAsRead(book.id)">Прочитана</button>
    </div>
  </div>
</li>
