<h3 id="book-list" class="header">Список книг</h3>
<app-search-form
  (changeTextEvent)="readSearchStr($event)"
  (resetEvent)="resetSearchStr()"
>
</app-search-form>
<button class="btn btn-primary btn-add" (click)="addBook()">Добавить книгу</button>

<ul>
  <app-book-item
    class="list-group"
    *ngFor="let book of getValuesArray(books)| search:searchStr | paginate:{itemsPerPage: 10, currentPage:p}"
    [book]="books.get(book.id)"
    (deleteBookEvent)="deleteBook($event)"
    (markAsReadEvent)="markBookAsRead($event)"
    (editBookEvent)="editBook($event)"
  >
  </app-book-item>
  <pagination-controls (pageChange)="scrollToFirst(p=$event)"></pagination-controls>
</ul>
