<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Редактирование книги</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-2 control-label">Автор</label>
          <div class="col-lg-10">
            <p class="form-control-static">{{author}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Название</label>
          <div class="col-lg-10">
            <input type="text" (input)="updateTitle($event)" class="form-control" placeholder={{title}}>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Описание</label>
          <div class="col-lg-10">
            <textarea (input)="updateDescription($event)" class="form-control" rows="5"
                      placeholder={{description}}></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Год</label>
          <div class="col-lg-10">
            <input type="text" (input)="updateYear($event)" class="form-control" placeholder={{printYear}}>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">ISBN</label>
          <div class="col-lg-10">
            <input type="text" (input)="updateIsbn($event)" class="form-control" placeholder={{isbn}}>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
  </div>
</div>`
