<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Добавление книги</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-2 control-label">Автор</label>
          <div class="col-lg-10">
            <input type="text" [(ngModel)]="author" [ngModelOptions]="{standalone:true}" class="form-control"
                   placeholder="Автор">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Название</label>
          <div class="col-lg-10">
            <input type="text" [(ngModel)]="title" [ngModelOptions]="{standalone:true}" class="form-control"
                   placeholder="Название">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Описание</label>
          <div class="col-lg-10">
            <textarea class="form-control" [(ngModel)]="description" [ngModelOptions]="{standalone:true}" rows="5"
                      placeholder="Описание"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Год</label>
          <div class="col-lg-10">
            <input type="text" (keyup)="setPrintYear($event)" class="form-control" placeholder="Год издания">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">ISBN</label>
          <div class="col-lg-10">
            <input type="text" [(ngModel)]="isbn" [ngModelOptions]="{standalone:true}" class="form-control"
                   placeholder="ISBN">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="readAlready" [ngModelOptions]="{standalone:true}"> Книга прочитана
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
  </div>
</div>`
